#calendar {
    height: 100%;
    width: auto;
}

#calendarFrame{
    border-width: 0;
    width: 60%;
    height: 600px;
    /* frameborder: 0;
    scrolling: no; */
}

.add-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }