@import "theme.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***** GENERAL *****/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    padding: 0;

    font-family: Circular, Helvetica, Arial, sans-serif;

    background-color: var(--color-primary);
    color: var(--color-text);
}

body * {
    transition: inherit;
}

hr {
    border: 1px solid var(--color-primary);
    width: 100%;
    margin: 0.5em 0;
}


/***** BUTTON FORMAT *****/
.button {
    background-color: var(--color-button);
    border: none;
    border-radius: 1em;

    font-family: Circular, Helvetica, Arial, sans-serif;
    color: var(--color-text);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.3em 0.8em;

    cursor: pointer;
}
.button:hover:enabled {
    background-color: var(--color-text);
    color: var(--color-primary);
}
.button:focus:enabled {
    outline: none;
    box-shadow: 0 0 0 0.075em var(--color-text);
}
.button:active:enabled {
    background-color: var(--color-text);
    color: var(--color-primary);
    outline: none;
}
.button:disabled {
    opacity: 0.5;

    cursor: default;
}


/***** TEXT FIELD FORMAT *****/
.text-field {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.2em;

    font-family: Circular, Helvetica, Arial, sans-serif;
    color: var(--color-text);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding-top: 0.15em;
}
.text-field:focus {
    outline: none;
    box-shadow: 0 0 0 0.05em var(--color-text);
}
.text-field:active {
    outline: none;
    box-shadow: 0 0 0 0.05em var(--color-text);
}

input::placeholder {
    color: var(--color-text);
    opacity: 0.5;
}
input::-webkit-input-placeholder {
    color: var(--color-text);
    opacity: 0.5;
}
input::-moz-placeholder {
    color: var(--color-text);
    opacity: 0.5;
}
input::-ms-placeholder {
    color: var(--color-text);
    opacity: 0.5;
}


/***** CHECKBOX FORMAT *****/
.checkbox-label {
    position: relative;
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: var(--color-text);
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 1.6em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1em;
    width: 1.1em;
    border: none;
    border-radius: 0.15em;
    background-color: var(--color-primary);
}

.checkbox-label:hover .checkbox ~ .checkmark {
    background-color: var(--color-button);
}

.checkbox-label .checkbox:checked ~ .checkmark {
    background-color: var(--color-button);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label .checkbox:checked ~ .checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 0.31em;
    top: 0;
    width: 0.3em;
    height: 0.6em;
    border: solid var(--color-text);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***** SCROLLBAR FORMAT *****/
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 1em;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-quaternary);
    cursor: pointer;
}
