@import "theme.css";

#spotify-player {
    height: 10%;
    width: auto;
    min-height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--color-secondary);
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    color: var(--color-text);
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.spotify-button {
    height: 30px;
    width: 30px;
    margin: 5px 10px;
    padding: 0;

    background-color: transparent;
    border: none;
    color: var(--color-tertiary);
    font-size: 12px;
    outline: none;
    overflow: none;
}

.spotify-button:hover {
    cursor: pointer;
}

.spotify-button:hover, .spotify-button:focus, .spotify-button:active {
    outline: none;
    color: var(--color-quaternary);
}

#playback-toggle-button {
    font-size: 30px;
}

#playback-track-container {
    position: relative;

    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
}

#playback-cover-image {
    height: 65%;
    margin-top: 100%;
    margin: auto 10px auto 15px;
    user-select: none;
}

#playback-info-container {
    position: relative;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playback-track-label {
    color: var(--color-text);
    margin: 5px 0 0 0;
    font-size: 16px;
    white-space: nowrap;
}

#playback-artist-label {
    margin: 10px 0 0 0;
    color: var(--color-text);
    opacity: 50%;
    font-size: 13px;
    white-space: nowrap;
}

#playback-media-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playback-controls-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#scrub-bar {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playback-time-label {
    padding: 0 15px 0 0;
    font-size: 13px;
    transition: none;
}

#playback-duration-label {
    padding: 0 0 0 15px;
    font-size: 13px;
    transition: none;
}

#timeline {
    width: 75%;
    height: 8px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

#scrub-line {
    height: 8px;
    width: 0px;

    background-color: var(--color-accent);
    border-radius: 10px;
}

#scrub {
    width: 20px;
    height: 20px;
    background-color: var(--color-accent);
    border-radius: 50%;

    cursor: ew-resize;
    position: relative;
    bottom: 5px;
}

#scrub.active {
    cursor: ew-resize;
}

#playback-volume-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#volume-scrub-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volume-down-label {
    font-size: 19px;
    padding: 0 10px 0 0;
    transition: none;
    user-select: none;
}

#volume-up-label {
    font-size: 19px;
    padding: 0 0 0 10px;
    transition: none;
    user-select: none;
}

#volume-timeline {
    height: 8px;
    width: 80px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

#volume-scrub-line {
    height: 8px;
    width: 45px;

    background-color: var(--color-accent);
    border-radius: 10px;
}

#volume-scrub {
    width: 10px;
    height: 10px;
    background-color: var(--color-accent);
    border-radius: 50%;

    cursor: ew-resize;
    position: relative;
    left: 40px;
    bottom: 1px;
}

#volume-scrub.active {
    cursor: ew-resize;
}
