#spotify-player {
    position: fixed;
    bottom: 0;

    height: 9%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #373737;
    border: #252525 ;
    color: white;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.spotify-button {
    height: 30px;
    width: 30px;
    margin: 5px 10px;
    padding: 0;

    background-color: transparent;
    border: none;
    color: lightgray;
    font-size: 12px;
    outline: none;
    overflow: none;
}

.spotify-button:hover {
    color: white;
}

#playback-toggle-button {
    font-size: 30px;
}

#playback-track-container {
    position: relative;

    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
}

#playback-cover-image {
    height: 65%;
    margin-top: 100%;
    margin: auto 10px auto 15px;
}

#playback-info-container {
    position: relative;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playback-track-label {
    font-size: 14px;
    margin: 5px 0 0 0;
}

#playback-artist-label {
    color: gray;
    font-size: 12px;
    margin: 10px 0 0 0;
}

#playback-media-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scrub-bar {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playback-time-label {
    padding: 0 15px 0 0;

    font-size: 12px;
}

#playback-duration-label {
    padding: 0 0 0 15px;

    font-size: 12px;
}

#timeline {
    width: 75%;
    height: 8px;
    background-color:#252525;
    border-radius: 10px;
}

#scrub-line {
    height: 8px;
    width: 0px;

    background-color: #1DB954;
    border-radius: 10px;
}

#scrub {
    width: 20px;
    height: 20px;
    background-color: #1DB954;
    border-radius: 50%;

    cursor: move;
    position: relative;
    bottom: 5px;
    left: -10px;
}

#scrub.active {
    cursor: move;
}

#playback-controls-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#playback-playlists-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
