body, html {
    height: 97.5vh;
}

img {
    height:100%;
    width:100%; 
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 1vh;
    height:100%;
    background-color:#bbb;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.affirmation {
    height: 47%;
}

#dog_column {
    background-image: url(grass.jpg);
    background-size: cover;
}

#dog_toolbar {
    padding: 1vh;
    display: flex;
    justify-content: space-evenly;
}

#dog_image {
    width: 100%;
    height: 85%;
}

#spotify_area{
    background-color:#1DB954;
}