@import "theme.css";

#main {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

img {
    height:85%;
    width:100%; 
    object-fit: contain;
}

.column {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 2% 2%;
}

#nav-open-column {
    width: min-content;
    height: 100%;
    background-color: var(--color-primary);
}

.row {
    width: 100%;
    height: 100%;

    background-color: var(--color-secondary);
    border: none;
    border-radius: 1em;

    padding: 0 1.5em 1.5em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.container-label {
    font-size: 2em;
    user-select: none;
}

#checkbox {
    padding-top: 0.5em;
}

label {
    font-size: 1.3em;
}

.break-button {
    font-size: 1.3em;
    width: 9em;
    margin: 0.15em 0 0.3em;
}

.toolbar {
    padding: 1% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#Slideshow {
    width: 100%;
    height: 80%;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px;
    width: 100%;
    height: 75%;
}

#affirmation-container {
    height: 33%;
    overflow-x: hidden;
    overflow-y: auto;
}

#affirmation-result {
    font-size: 1.5em;
    margin-top: 1em;
    opacity: 95%;
    font-style: italic;
}

#spotify-container {
    height: 33%;
}

/*** TIMER AREA ***/
#timer-container {
    height: 28%;
    overflow-x: hidden;
    overflow-y: auto;
}

#timer-label {
    margin-bottom: 0.5em;
}

#active-timer-menu {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;

    color: var(--color-text);
    font-size: 1.5em;
    opacity: 95%;
    font-style: italic;
}

#timer-div {
    width: 100%;
}

#timer-values {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: auto;
    margin: 0 20%;

    font-size: 2.2em;
    opacity: 95%;
}

#timer-values.timeout {
    color: var(--color-accent);
    animation: opacityPulse 1s ease-out;
    animation-iteration-count: infinite;
}
@keyframes opacityPulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#return-button {
    margin-top: 4%;
    width: 18em;
}
