@import "theme.css";

/***** DIV ORGANIZATION *****/
#main {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
